nav {
  position: fixed;
  bottom: -2px;
  left: 0;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  background-color: white;
  margin: 0;
  padding: 0;
  z-index: 3;
}

.nav-container {
  width: 100%;
  align-items: center;
}

@media screen and (min-width: 1197px) {
  .nav-container {
    max-width: 1200px;
  }
}

.flexed-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexed-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flexed-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.esc-text {
  color: gray;
  font-size: 13px;
}

.nav-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #76c900;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  color: white;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

span.cnt-info {
  color: gray;
  font-size: 13px;
  margin-left: 7px;
}

.non-visible {
  display: none;
}

@media screen and (min-width: 770px) {
  .non-visible {
    display: flex;
  }
}